@using Term3.Models
@model ProjectListModel
@{
    ViewBag.Title = "Проекты";
}
<div>
    @using (Html.BeginForm("Projects", "Project", FormMethod.Post))
    {
        <div class="projects-block">
            <table class="projects-table">
                <tr>
                    <th>Название</th>
                </tr>
                @foreach (var project in Model.projects)
                {
                    <tr>
                        <td>@project.name</td>
                        <td><button type="submit" name="action" value="@project.id">Выбрать проект</button></td>
                    </tr>
                 }
            </table>
        </div>
      }
</div>