@using TErm.Models
@model UserModel
@{
    ViewBag.Title = "Вход";
}
<div class="container">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="input-name">Введите имя пользователя</label>
                    @Html.TextBoxFor(m => m.Name, new { @id = "input-name", @class = "form-control", @placeholder="Имя пользователя"})
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="input-token">Введите токен</label>
                    @Html.TextBoxFor(m => m.Token, new { @id = "input-token", @class = "form-control", @placeholder = "Токен" })
                </div>
            </div>
            <div class="col-12">
                <input type="submit" value="Вход" class="btn btn-default form-control" />
            </div>
        </div>
    }
</div>