style {
    border-radius:5px; 
    color: #000000; 
    background-color: #bdbdbd; 
    width: 172px; 
    height: 30px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
}

.index-form input {
    margin: 0 auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-control {
    margin: auto;
}

.projects-table {
    margin: auto;
    max-width: 500px;
}

.projects-table td {
    padding-right: 10px;
}

.projects-table td:last-child {
    padding-right: 0;
}

.issues-table {
    margin-top: 15px;
}

.issues-table, .issues-table td, .issues-table th {
    border: 1px solid black;
}

.issues-table th, .issues-table td {
    padding: 10px;
}